.quiz-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: #ddd;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.option.selected {
  background: #cfe2ff;
  border-color: #007bff;
}

.next-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  text-align: center;
  margin-top: 50px;
  color: darkred;
}

.reset-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.reset-btn:hover {
  background: #0056b3;
}
