.text-gradient {
  background: linear-gradient(
    to right,
    #3b82f6,
    #4f46e5
  ); /* from-blue-500 to-indigo-600 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(
    to right,
    #3b82f6,
    #4f46e5
  ); /* from-blue-500 to-indigo-600 */
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 👈 Giới hạn 2 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 👈 Giới hạn 2 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
